{% extends 'game/base.html.twig' %}

{% block title %}Rejoindre une partie{% endblock %}

{% block body %}

    <header data-controller="game-sync"
            data-game-sync-url-value="{{ path('game_scoreboard_data') }}"
            data-game-sync-mercure-url-value="{{ mercure_public_url }}"
            data-game-sync-topic-value="{{ escape_game ? '/escape/' ~ escape_game.id ~ '/status' : '' }}"
            data-game-sync-reload-on-change-value="true"
            data-game-sync-current-status-value="{{ escape_game ? escape_game.status : 'offline' }}">
            <div class="titre_header">
                <h1>Rejoindre la mission</h1>
                {#  <p class="hint">Entrez votre nom d'équipe.</p> #}
            </div>
            <span class="badge">Join</span>
        </header>


    <div class="card stack">
        {% if not game_open %}
            <div class="status closed">Les inscriptions sont fermées pour le moment.</div>
        {% else %}
            <div class="status">Les inscriptions sont ouvertes.</div>
        {% endif %}

        {% if error %}
            <div class="status closed">{{ error }}</div>
        {% endif %}

        <form method="post" class="stack">
            <label>
                <span class="hint">Nom d'équipe</span>
                <input class="input" type="text" name="team_code" placeholder="Ex: cactus" value="{{ team_code }}" required>
            </label>
            <button class="btn" type="submit" {% if not game_open %}disabled{% endif %}>Confirmer</button>
        </form>
    </div>

    <div class="card_help">
        <h2>Info</h2>
        <p class="hint">Le nom de votre équipe est indiqué sur votre table de jeu.
            Saisissez-le pour entrer dans la salle d’attente et rejoindre l’aventure.</p>
    </div>
{% endblock %}